{% extends 'base.html' %}

    {% block title %}
        Create a recipe
    {% endblock title %}

    {% block nav %}
        <a class="main-page-white" href="{% url 'home' %}">Main page</a>
    {% endblock nav %}

    {% block content %}
        <head>
        </head>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </main>
    {% endblock content %}
