{% extends 'base.html' %}

    {% block title %}
        Recipe
    {% endblock title %}

    {% block nav %}
        <a class="no-underline main-page-white" href="{% url 'home' %}">Main page</a>
        <a class="no-underline main-page-white" href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
    {% endblock nav %}

    {% block content %}
        <head>
        </head>
        <main>
            <h1 class="green-text">{{recipe_object.title}} </h1>
            <img src="{{recipe_object.picture}}" alt="picture of food item">
            <p>{{ recipe_object.rating }}</p>
            <p>{{ recipe_object.description }}</p>
        </main>
    {% endblock content %}

        {% comment %} <div>{{recipe_object.rating}}</div>
        <div><p>{{recipe_object.description}}</p></div> {% endcomment %}
        {% comment %} <div>
            <p>4.3 Stars</p>
            <h2 class="green-text">Ingredients</h2>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3 ears</td>
                        <td>Fresh corn </td>
                    </tr>
                    <tr>
                        <td>2 cups</td>
                        <td>Tomatillo salse</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Corn tortillas</td>
                    </tr>
                    <tr>
                        <td>0.5 cups</td>
                        <td>Cotija cheese</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2 class="green-text">Steps</h2>
            <ol>
                <li>blanch the green beans</li>
                <li>chop the green beans</li>
                <li>slice the corn off the cob</li>
                <li>grill the tortillas</li>
                <li>assemble the tacos with veggies, salsa, and cheese</li>
            </ol>
        </div> {% endcomment %}
