{% extends 'base.html' %}
{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
    {% block title %}
      Scrumptious Recipes
    {% endblock title %}

    {% block nav %}

      <a class="no-underline main-page-white" href="{% url 'home' %}">Main page</a>
      <a class="no-underline main-page-white" href="{% url 'create_recipe' %}">Create a recipe</a>

    {% endblock nav %}

  {% block content %}


    <main>
        <h1 class="green-text">Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
      <div class="recipe-grid">
        <div>
          <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
              <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a>
                <p>{{ recipe.created_on | date:"N j Y" }}</P>
              </h3>
              <img src="{{recipe.picture}}">
              <div>{{recipe.rating}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
  {% endblock content%}





































{% comment %} ------------------------------------------------------------------------------------------------------- {% endcomment %}
          {% comment %} <h3>
            <a  class="no-underline green-text" href="detail.html">Vegetarian Tacos</a>
          </h3>
          <img src="https://mks.io/public-tacos" alt="link to public tacos">

          <div>4.3 stars</div>
        </div>
        <div>
          <h3>
            <a class="no-underline green-text" href="detail.html">Vegetarian Tacos</a>
          </h3>
          <img src="https://mks.io/public-tacos " alt="link to public tacos">

          <div>4.3 stars</div>
        </div>
        <div>
          <h3>
            <a class="no-underline green-text" href="detail.html">Vegetarian Tacos</a>
          </h3>
          <img src="https://mks.io/public-tacos" alt="link to public tacos">

          <div>4.3 stars</div>
        </div>
        <div>
          <h3>
            <a class="no-underline green-text" href="detail.html">Vegetarian Tacos</a>
          </h3>
          <img src="https://mks.io/public-tacos" alt="link to public tacos">

          <div>4.3 stars</div>
        </div>
        <div>
          <h3>
            <a class="no-underline green-text" href="detail.html">Vegetarian Tacos</a>
          </h3>
          <img src="https://mks.io/public-tacos" alt="link to public tacos">

          <div>4.3 stars</div>
        </div> {% endcomment %}

{% comment %} -------------------------------------------------------------------------------------------------- {% endcomment %}
        <!-- old format for display -->
        <!-- <p>
          Learn more at
          <a href="https://developer.mozilla.com">MDN</a>.
        </p> -->
        <!-- <div>
          <h3>
            <a href="detail.html">Vegetarian Tacos</a>
          </h3>
          <img src=" https://mks.io/public-tacos" alt="public tacos link">
        </div>
        <div>
            <p>
                4.3 stars
            </p> -->
