body {
    margin: 0px;
    padding: 50px;
}


main {
    padding: 0px;

}

footer {
    top: 24px;
    bottom: 24px;
    left: 0px;
    right: 0px;
}

img {
    height: 200px;
}

nav {
    background-color: orangered;
    border-bottom: 1px solid black;
    padding: 16px;
}

.main-page-white {
    color: white;
}

.green-text {
    color: green;
}


.green-background {
    background-color: lightgreen;
}

.footer-padding {
    margin-top: 20px;
    padding: 30px;
}
#foot-margin-detail {
    margin-top: 100px;
}
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);

}

.no-underline {
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: lightgray;
}

table {
    border-spacing: 15px 0px;

}
th {
    background-color: lightgreen;
}
