{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <nav>
        {% block nav %}{% endblock nav %}
    </nav>
</head>
<body>
    {% block content %}{% endblock content %}
</body>
<footer class="footer-padding green-background">Made with love by Scrumptious Recipes</footer>
</html>
